# PostgreSQL settings
POSTGRES_DB=linkshortener
POSTGRES_USER=user
POSTGRES_PASSWORD=supersecurepasswordofuser
POSTGRES_PORT=5432

# Backend service
LINK_SHORTENER_PORT=8080

# Frontend service
DEV_PORTFOLIO_PORT=3000